.mainGrid {
    max-width: lg;
    direction: row;
    align-content: center;
    justify-content: center;
}

.maindiv {
    display: flex;
    text-align: center;
    justify-content: center;
}

.mainimg {
    width: 30%;
}

.content {
    width: 30%;
}