.mainGrid {
    max-width: lg;
    direction: row;
    align-content: center;
    justify-content: center;
}

.maindiv {
    display: flex;
    text-align: center;}

.mainimg {
    width: 600px;
    height: 750px;
    border-radius: 10px;
    margin-right: 1%;
    margin-left: -0.5%;
    animation: move 1s linear forwards; /* 애니메이션 적용 */
}

@keyframes move {
	0% {margin-top: 50px;} /* 처음 위치 */
	100% {margin-top: 0px;} /* 마지막 위치 */
}

.mylist {
    width: 500px;
    height: 370px;
    border: 2px solid blue;
    border-radius: 10px;
    margin-bottom: 10px;
    animation: move 1.5s linear forwards; /* 애니메이션 적용 */
}

.otherlist {
    width: 500px;
    height: 370px;
    border: 2px solid green;
    border-radius: 10px;
    animation: move2 3s linear forwards; /* 애니메이션 적용 */
}

@keyframes move2 {
	0% {margin-top: 20px;} /* 처음 위치 */
	100% {margin-top: 0px;} /* 마지막 위치 */
}