.grid_container {
  position: absolute;
  padding: 5px 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.bingoboard {
  margin-top: auto;
  margin-bottom: auto;
  height: 630px;
  width: 600px;
}

.tododiv {
  display: flex;
  align-self: center;
  width: 65%;
  margin-left: 80px;
}

.todo {
  width: 100%;
  float: left;
  font-weight: bold;
  text-align-last: center;
}

.button {
  width: 30%;
}

.todolist {
  position: relative;
  height: 300px;
  width: 400px;
}

.donelist {
  position: relative;
  height: 300px;
  width: 400px;
}

.scroolBar {
  /* width: 200px;
  height: 200px; */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroolBar::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

.scroolBar::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: #5b321e; /* 스크롤바의 색상 */

  border-radius: 10px;
}

.scroolBar::-webkit-scrollbar-track {
  background: "#FCF8F0"; /*스크롤바 뒷 배경 색상*/
}

.modal {
  width: 50%;
  height: 70%;
  background-color: white;
  transform: translate(50%, 20%);
  background-color: #f9f3c4;
  border-radius: 10px;
  padding: 2% 2% 2% 2%;
}